header {
  text-align: center ;
  background-color: #ddd ;
  padding: 20px ;
}

.shape-container {
  position: relative ;
  width: 800px ;
  height: 800px ;
  background-color: #eee ;
  overflow: hidden;
  margin: 0 auto;
}

.buttons {
  width: 800px ;
  margin: 0 auto;
}

.buttons > button {
  width: 50%;
  padding: 10px;
}